{% extends 'MorozBlogBundle::baseBlogTemplate.html.twig' %}
{% block title %}Головна  сторінка - Блог{% endblock %}
{% block body %}
    <h2>Заголовак статті</h2>
    <p>Текст статті</p>
{% endblock %}